<ul>
  <% @all_document_names.each do |document_name| %>
    <li>
      <form action="/<%= document_name %>/delete" method="post" class="inline">
        <button type="submit">delete</button>
      </form>
      <a href="/<%= document_name %>/edit">(edit)</a>
      <a href="/<%= document_name %>">
        <%= document_name %>
      </a>
    </li>
  <% end %>
</ul>

<a href="/new">New Document</a>
<br>
<br>

<% if signed_in? %>
  <p class="inline" style="font-style: italic;">Signed in as <%= user_name %>.</p>

  <form action="/users/signout" method="post" class="inline">
    <button style="submit">Sign Out</button>
  </form>
<% else %>

  <form action="/users/signin" method="get" class="inline">
    <button style="submit">Sign In</button>
  </form>
<% end %>